<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Forum Bersama</title>
	</head>

	<body>

		<div class="bg-primary text-white">
			<div class="row align-items-center">
				<div class="col-9">
					<div class="container">
						<a class="btn btn-primary m-1" href="/forum">
							<h1>FORUM</h1>
						</a>
					</div>
				</div>
				<div class="col-3">
					{{> auth}}
				</div>
			</div>
		</div>

		<input type="hidden" id="owner_id" value="">
		<input type="hidden" id="forum_id" value="">

		<!-- LIST FORUM START -->
		<div class="card bg-dark pt-3">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h4 class="text-center text-info">SILAHKAN PILIH FORUM DISKUSINYA</h4>
					</div>
				</div>

				<div class="list-group">
					{{#each forums}}
						<a href="/forum/{{slug}}" class="list-group-item list-group-item-action">
							<div class="row">
								<div class="col-10">
									{{title}}
								</div>
								<div class="col-2">
									<span class="badge badge-primary">{{user.name}}</span>
								</div>
							</div>
						</a>
					{{/each}}
				</div>
				<!-- LIST FORUM END -->

				<!-- PAGINATION START -->
				<a class="btn btn-warning mt-3 mb-3" href="/forum/older/{{lastBlogTime}}">
					Sebelumnya </a>
				<!-- PAGINATION END -->

			</div>
		</div>

		<!-- INPUT FORUM START -->
		<div class="card">
			<div class="container mt-3">
				<div class="row">
					<div class="col-12 text-center text-primary">
						<h4>TAMBAH FORUM BARU</h4>
					</div>
				</div>

				<div class="form-group">
					<label for="newTitle">Judul Forum</label>
					<input type="text" class="form-control" id="newTitle" placeholder="Input Judul Forum">
				</div>
				<div class="form-group">
					<label for="newDesc">Isi Forum</label>
					<textarea cols="80" rows="8" type="name" class="form-control" id="newDesc"></textarea>
				</div>
				<button type="submit" class="btn btn-primary" onclick="addForum()">Submit</button>
			</div>
		</div>
		<!-- INPUT FORUM END -->

		{{> script}}
		<script src="/assets/js/forum.js"></script>
	</body>

</html>
