<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>{{ forum.title }}</title>

	</head>

	<body>

		<div class="bg-primary text-white">
			<div class="row align-items-center">
				<div class="col-9">
					<div class="container">
						<a class="btn btn-primary m-1" href="/forum">
							<h1>FORUM</h1>
						</a>
					</div>
				</div>
				<div class="col-3">
					{{> auth}}
				</div>
			</div>
		</div>

		<!-- DETAIL FORUM START -->
		<div class="card bg-secondary p-3">
			<div class="row">
				<div class="col-12 text-center ">
					<h4 class="text-warning">{{ forum.title }}</h4>
					<span class="badge badge-primary mb-5">{{forum.user.name}}</span>
				</div>
				<div class="col-12 text-white">
					<p>{{ forum.desc }}</p>
				</div>

				<div class="col-10">
					<p>{{ forum.created_at }}</p>
				</div>
				<div class="col-2">
					<button type="button" class="is-hidden btn btn-warning" id="edit-btn" onclick="showEditForm()">Edit</button>
				</div>
			</div>
		</div>
		<!-- DETAIL FORUM END -->

		<input type="hidden" id="owner_id" value="{{ forum.user.user_id }}">
		<input type="hidden" id="forum_id" value="{{ forum.id }}">


		<!-- EDIT FORUM START -->
		<div class="is-hidden container mt-3" id="editForm">
			<div class="form-group">
				<label for="updateTitle">Judul Forum</label>
				<input type="text" class="form-control" value="{{ forum.title }}" id="updateTitle">
			</div>
			<div class="form-group">
				<label for="updateDesc">Isi Forum</label>
				<textarea cols="80" rows="8" type="name" class="form-control" id="updateDesc">{{ forum.desc }}</textarea>
			</div>
			<button type="button" id="update-btn" class="btn btn-primary" onclick="updateForum('{{ forum.id }}')">Update</button>
		</div>
		<!-- EDIT FORUM END END -->

		<!-- KOMENTAR START -->
		<div class="container mt-3">
			<div class="row text-center">
				<div class="col-12">
					<h4>BERIKAN KOMENTAR</h4>
				</div>
				<div class="form-group col-12">
					<textarea cols="80" rows="8" type="name" class="form-control" id="replyBox"></textarea>
				</div>
				<div class="col-12">
					<button class="btn btn-warning" type="button" onclick="addReply('{{ forum.id }}')">Balas</button>
				</div>
			</div>
		</div>
		<!-- KOMENTAR END -->

		<!-- LIST KOMENTAR START -->
		<div class="card mt-5">
			<div class="row">
				<div class="col-12 text-center">
					<h4 class="text-primary mt-3">DAFTAR KOMENTAR</h4>
				</div>

				<div class="container">
					{{#each replies}}
						<div class="row">
							<div class="col-12">
								<b>{{data.user.name}} </b>
							</div>
							<div class="col-12">
								<p class="pl-3 pr-3"> {{ data.desc }}
									<button type="button" class="replies-button is-hidden btn btn-warning btn-sm" reply-owner-id="{{ data.user.user_id }}" onclick="editReply('{{ id }}', '{{ data.desc }}')">Edit</button>
								</p>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
		<!-- LIST KOMENTAR END -->


		<!-- EDIT KOMENTAR START -->
		<div class="container mt-3">
			<div class="is-hidden" id="formEditReplay">
				<h4>Edit Reply</h4>
				<div class="form-group">
					<textarea cols="80" rows="8" type="name" class="form-control" id="replyEditBox"></textarea>
				</div>
				<button class="btn btn-primary" type="button" onclick="updateReply()">Update</button>
			</div>
		</div>
		<!-- EDIT KOMENTAR END -->


		{{> script}}
		<script src="/assets/js/forum.js"></script>
	</body>

</html>
