<!-- LOGIN START -->
<div id="login-wrapper">
	<button class="btn btn-secondary" type="button" name="button" onclick="login('gmail')">Gmail</button>
	<button class="btn btn-secondary" type="button" name="button" onclick="login('fb')">Facebook</button>
	<button class="btn btn-secondary" type="button" name="button" onclick="login('tw')">Twitter</button>
</div>

<div id="logout-wrapper" class="is-hidden">
	<button class="btn btn-danger" type="button" name="button" onclick="logout()">Logout</button>
</div>
<!-- LOGIN END -->
